@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #282828;
    color: #ffffff;
    text-align: center;
    height: 130px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header p{
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 3.5px;
}

main h1{
    text-align: center;
}

main p{
    text-align: justify;
    padding: 10px 20px 10px 20px;
    text-indent: 30px;
    font-weight: 450;
    font-size: 1.1em;


    min-width: 300px;
    max-width: 1000px;
    display: block;
    margin: auto;
}

img{
    width: 500px;
    display: block;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

main h2{
    text-align: center;
    padding: 10px;
}

.cont{
    padding: 20px 0 20px 0;
}

.cont-html{
    background-color: #E96228;
    color: white;
    margin-top: 10px;
    padding: 20px;
}

.logo{
    width: 400px;
}

.cont-css{
    background-color: #2862E9;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
}

footer{
    background-color: #282828;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}